@import '../../../assets/colors.scss';


.map{
  width: 100%;
  height: 100%;

  &__container{
    height: 33vh;
  }
}

@media (min-width: 992px)
{
  .map{
    &__container{
      height: calc(100vh - 3.5rem);

    }
  }
}